# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

[general]
name = CDH
description = A basic CDH cluster with 1 primary node and n-1 secondary nodes 

[node_groups]
# Define node groups and specify which nodes of each to start during the build process.
primary-node = node-1
secondary-nodes = node-2

[start]
arg.cdh-string = cdh580
arg.cdh-string.help = CDH version to use
arg.cdh-string.metavar = cdh

arg.cm-string = cm581
arg.cm-string.help = CM version to use
arg.cm-string.metavar = cm

arg.dont-start-cluster = False
arg.dont-start-cluster.help = Don't start clusters/services in Cloudera Manager

arg.exclude-service-types
arg.exclude-service-types.help = If specified, a comma-separated list of service types to exclude from the CDH cluster
arg.exclude-service-types.metavar = svc1,svc2,...

arg.include-service-types
arg.include-service-types.help = If specified, a comma-separated list of service types to include in the CDH cluster
arg.include-service-types.metavar = svc1,svc2,...
